ClienteMD/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioJuegoAhorcado.Modelo.Poco" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioJuegoAhorcado.Modelo.Poco" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatosJugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaLogin" nillable="true" type="tns:RespuestaLogin" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuntajeGlobal" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCategoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="ArrayOfPalabra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Palabra" nillable="true" type="tns:Palabra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPalabra" nillable="true" type="tns:ArrayOfPalabra" />
  <xs:complexType name="Palabra">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="IdPalabra" type="xs:int" />
      <xs:element minOccurs="0" name="PalabraSecreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Palabra" nillable="true" type="tns:Palabra" />
  <xs:complexType name="ArrayOfPartida">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partida" nillable="true" type="tns:Partida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartida" nillable="true" type="tns:ArrayOfPartida" />
  <xs:complexType name="Partida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoAdivinador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoRetador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GanoLaPartida" type="xs:int" />
      <xs:element minOccurs="0" name="IdAdivinador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPalabra" type="xs:int" />
      <xs:element minOccurs="0" name="IdPartida" type="xs:int" />
      <xs:element minOccurs="0" name="IdRetador" type="xs:int" />
      <xs:element minOccurs="0" name="NombreAdivinador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreRetador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Palabra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partida" nillable="true" type="tns:Partida" />
  <xs:complexType name="Turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntentosRestantes" type="xs:int" />
      <xs:element minOccurs="0" name="Letra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Turno" nillable="true" type="tns:Turno" />
</xs:schema>